{
   "presets":[
        ["env", {
            "useBuiltIns": true,
            "targets": {
                "node": "6"
            },
            "modules": "commonjs",
            "debug": false
        }],
        "stage-0"
    ],
   "plugins":[
      [ "babel-root-import", { "rootPathSuffix": "src" } ]
   ]
}
